<div class="mw-form-builder">
    <form name="ctrl.form" role="form" novalidate>
        <div class="mw-title-page">
            <md-input-container class="md-block">
                <mw-label label-for="formName" label-value="ctrl.translations.formName"></mw-label>
                <input type="text" class="form-control" name="formName" id="formName" ng-model="ctrl.formData.name" required>
            </md-input-container>

            <md-input-container class="md-block">
                <mw-label label-for="formDescription" label-value="ctrl.translations.description"></mw-label>
                <textarea msd-elastic class="form-control" name="formDescription" ng-model="ctrl.formData.description" id="formDescription"/>
            </md-input-container>
        </div>

        <div class="form-page-list">
            <mw-form-page-builder 
                ng-repeat="page in ctrl.formData.pages| mwStartFrom:ctrl.currentPage | limitTo:1" 
                form-page="page" form-object="ctrl.formData"
                is-first="$first" 
                is-last="$last" 
                possible-page-flow="ctrl.possiblePageFlow"
                on-remove-page="ctrl.removePage(currentPage)" 
                on-add-page="ctrl.addPage(currentPage)">
            </mw-form-page-builder>
        </div>

        <div layout="row" layout-align="center center">
            <div flex-gt-xs="75">
                <div layout="row" layout-align="center center">
                    <div flex-gt-xs="50">
                        <md-button class="md-icon-button md-raised"  ng-disabled="ctrl.currentPage === 0" ng-click="ctrl.currentPage = 0">
                            <i class="fa fa-angle-double-left fa-lg"></i>
                        </md-button>
                        <md-button class="md-icon-button md-raised" ng-disabled="ctrl.currentPage === 0" ng-click="ctrl.currentPage = ctrl.currentPage - 1">
                            <i class="fa fa-angle-left fa-lg"></i>
                        </md-button>
                        {{ctrl.currentPage + 1}}/{{ctrl.formData.pages.length}}
                        <md-button class="md-icon-button md-raised" ng-disabled="ctrl.currentPage >= ctrl.formData.pages.length - 1" ng-click="ctrl.currentPage = ctrl.currentPage + 1">
                            <i class="fa fa-angle-right fa-lg"></i>
                        </md-button>
                        <md-button class="md-icon-button md-raised"  ng-disabled="ctrl.currentPage >= ctrl.formData.pages.length - 1" ng-click="ctrl.lastPage()">
                            <i class="fa fa-angle-double-right fa-lg"></i>
                        </md-button>
                    </div>
                </div>

            </div>
            <div flex>
                <div layout="row" layout-align="end">
                    <md-button type="button" class="md-raised md-primary" ng-click="ctrl.addPage()">
                        <i class="fa fa-plus"></i>
                        <span>{{::ctrl.translations.addPage}}</span>                            
                    </md-button>
                </div>
            </div>
        </div>
        
        <mw-form-confirmation-page-builder form-object="ctrl.formData"></mw-form-confirmation-page-builder>
    </form>
</div>
