<div class="question-offered-answer-list-builder">
    <div class="question-offered-answer-list" ng-sortable="ctrl.offeredAnswersSortableConfig" ng-model="ctrl.question.offeredAnswers" role="list">
        <div class="mw-question-offered-answer" ng-repeat="answer in ctrl.question.offeredAnswers track by answer.id" role="listitem">
            <div class="drag-handle">
                 <i class="fa fa-arrows-v fa-lg handle-inner"></i>
            </div>
            <div class="option-type-indicator">
                <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
                <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i>
            </div>
            <md-input-container>
                <input wd-focus-me="ctrl.isNewAnswer[answer.id]" type="text" ng-model="answer.value" ng-keypress="ctrl.keyPressedOnInput($event,answer)" required class="form-control offered-answer-value ">
            </md-input-container>
            <md-button role="button" class="md-raised md-icon-button remove-item-button" ng-click="ctrl.removeOfferedAnswer(answer)" 
                    ng-attr-title="{{::ctrl.translations.buttonsRemove}}">
                <md-tooltip md-direction="top">
                    {{::ctrl.translations.buttons.remove}}
                </md-tooltip>
                <i class="fa fa-times"></i>
            </md-button>
            <span ng-if="ctrl.question.pageFlowModifier" class="form-inline">
                  <md-input-container >
                     <md-select ng-model="answer.pageFlow">
                       <md-option ng-value="pageFlow" ng-repeat="pageFlow in ctrl.possiblePageFlow track by $index">{{ pageFlow.label }}</md-option>
                     </md-select>
                 </md-input-container>
            </span>

        </div>

    </div>
    <div class="mw-question-offered-answer add-new-answer-widget">
        <div class="drag-handle">
        </div>
        <div class="option-type-indicator">
            <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
            <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i>
        </div>
        <span ng-click="ctrl.addNewOfferedAnswer()" role="button">
            <md-input-container>
                <input type="text" class="form-control  offered-answer-value" value="{{::ctrl.translations.buttons.addOption}}">
            </md-input-container>
        </span>
        <span class="add-custom-answer"  ng-if="!ctrl.disableOtherAnswer && !ctrl.question.otherAnswer">
            <span>{{::ctrl.translations.question.orLabel}} </span>
            <md-button role="button" ng-click="ctrl.addCustomAnswer()">{{::ctrl.translations.buttons.addOption}}</md-button>
        </span>
    </div>
    <div class="mw-question-offered-answer custom-answer" ng-if="ctrl.question.otherAnswer">
        <div class="drag-handle" >

        </div>
        <div class="option-type-indicator">
            <i ng-if="ctrl.question.type=='radio'" class="fa fa-circle-thin fa-fw"></i>
            <i ng-if="ctrl.question.type=='checkbox'" class="fa fa-square-o fa-fw"></i>
        </div>
        <label >{{::ctrl.translations.question.otherLabel}}</label>
        <md-input-container>
            <input  type="text" value="{{::ctrl.translations.question.userAnswer}}"  class="form-control offered-answer-value " readonly>
        </md-input-container>
        <md-button type="button" role="button" class="md-raised md-icon-button remove-item-button" ng-click="ctrl.removeCustomAnswer()" ng-attr-title="{{::ctrl.translations.buttons.remove}}">
            <md-tooltip md-direction="top">
                {{::ctrl.translations.buttons.remove}}
            </md-tooltip>
            <i class="fa fa-times"></i>
        </md-button>
    </div>
</div>
